{% extends 'main/layout.html' %}


{% block title %}Главная страница{% endblock %}


{% block content %}
    <div class = "features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perferendis, labore provident magni dignissimos, alias velit soluta cupiditate nam quae, et mollitia expedita. Qui, obcaecati! Reprehenderit excepturi minus mollitia asperiores.</p>
        <button class="btn btn-warning">На страницу про нас</button>
        {#{% for element in values %}#}
            {#{% if element = 'Hello' %}#}
                {#{% filter upper %}#}
                    {#<p>{{ element|lower }}</p>#}
               {#{% endfilter %}#}
            {#{% endif %}#}
        {#{% endfor %}#}
    </div>
{% endblock %}